footer
  .container.text-center
    .row
      .col-xs-6.text-left
        p © 2017 Company, Inc. All Rights Reserved
      .col-xs-6.text-right
        ul.pull-right.list-inline
          li
            a(href='https://github.com/sahat/hackathon-starter') GitHub Project
          li
            a(href='https://github.com/sahat/hackathon-starter/issues') Issues
